*{
    padding: 0;
    margin: 0;
    width: 100%;
}
header{
    display: flex;
    background-color: chocolate;
    padding-bottom: 10px;
    padding-top: 10px; 
    top:0;
    font-size: 25px;
}
input{
width: 300px;
justify-content: space-evenly;
}
footer{
    bottom: 0;
}