*{
    padding: 0;
    margin: 0;
    background: lightblue;
}
header{
    background: pink;
    color: rebeccapurple;
    font-size: 30px;
    font-family: 'Calistoga', cursive;
    text-align: center;
}
main{
    display:flex;
    justify-content: space-evenly;
    background: lightblue;
}
h1{
    display:block;
    color: rebeccapurple;
    font-size: 27px;
    font-family: 'Calistoga', cursive;  
}
section{
    display:flex;
    width: 500px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
label{
    font-size:20px;
}
input[type=text], select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}
button{
    display: inline-block;
    background-color: transparent ;
    color: rebeccapurple;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid rebeccapurple;
    border-radius: 4px;
    text-align: center;
    font-family: 'Calistoga', cursive;  
}
textarea{
    text-align: justify;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}
#post{
    text-align: center;
}